.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.character-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.character-card img {
  border-radius: 15px;
}
